@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .bg-radial-gradient {
    background-image: radial-gradient(circle at center, var(--tw-gradient-from) 0%, var(--tw-gradient-via) 50%, var(--tw-gradient-to) 100%);
  }

  .bg-radial-glow {
    background-image: radial-gradient(
      circle at center,
      rgba(3, 3, 88, 0.15) 0%,
      rgba(1, 1, 61, 0.15) 25%,
      transparent 70%
    );
  }

  .custom-color {
    color: rgba(150, 173, 255);
  }

  .custom-text-background {
    background: rgba(49, 69, 139, 0.797);
  }

  .custom-border {
    border-bottom: 2px solid rgba(150, 178, 240, 0.7);
  }

  .full-border {
    border: 1px solid rgba(150, 173, 255, 0.7);
  }

  .custom-background {
    background: rgba(150, 173, 255, 0.5);
  }

  .chat-background1 {
    background: linear-gradient(135deg, rgba(59, 72, 119, 0.5), rgba(181, 178, 240, 0.5)); /* Gradient from one light color to another */
    box-shadow: 0 0 7px rgba(150, 173, 255, 0.7); /* Glow effect around the element */
  }

  .chat-background2 {
    background: linear-gradient(135deg, rgba(73, 73, 73, 0.5), rgba(30, 30, 30, 0.5)); /* Gradient from one light color to another */
    box-shadow: 0 0 7px rgba(119, 124, 145, 0.7); /* Glow effect around the element */
  }

  .comp-background {
    background: linear-gradient(180deg, rgba(27, 33, 52, 0.5), rgba(35, 35, 37, 0.3)); /* Gradient from one light color to another */
  }



  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 173, 255, 0.5) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(59, 130, 246, 0.5);
    border-radius: 3px;
  }

  .pdf-page {
    margin: 0 auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .react-pdf__Page__textContent {
    border: none;
    background-color: transparent;
  }
  .react-pdf__Page__annotations {
    height: 0;
  }
  .react-pdf__Page__canvas {
    margin: 0 auto;
    border-radius: 4px;
  }
}